<div class="tool_info">
  <h1><%= @tool.name %> - <%= @tool.quantity %></h1>
  <h3><%= @tool.formatted_price %></h3>
  <%= link_to "Destroy #{@tool.name}", tool_path(@tool.id), method: "delete" %>
  <!-- # <%= link_to "Destroy #{@tool.name}", "tools/#{@tool.id}", method: "delete" %> -->
  <%= link_to "Update #{@tool.name}", edit_tool_path(@tool.id) %>
  <a href="/tools/<%= @tool.id %>/edit">Update</a>
</div>
