<h3><%= link_to "Register", new_user_path %></h3>
<h3><%= link_to "Login", login_path %></h3>
<% if current_user %>
  <h3><%= link_to "All Tools", tools_path %></h3>
  <h3><%= link_to "Create a New Tool", new_tool_path %></h3>
  <h3><%= link_to "Categories", categories_path %></h3>
<% end %>
