<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><%= link_to "Home", root_path %></h3>
<% if current_user %>
  <p><strong>Current Sessions Tool Summary:</strong> <%= current_tool_summary %></p>
  Welcome <%= current_user.username %>!
  <h4><%= link_to "Logout", logout_path, method: :delete %></h4>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
<p>
  <strong>Newest tool:</strong> <%= most_recent_tool %>
</p>
<%= yield %>
</body>
</html>
